.skills-right-side {
  width: inherit;
  height: 80vh;
  position: relative;
}

.skills-page {
  display: grid;
  grid-template-columns: 50vw 2fr;
  position: absolute;
  padding: 1%;
  margin: 1%;
  width: 100%;
  place-items: center;
}

.skills-heading {
  color: yellow;
  padding: 1%;
  margin: 1%;
}
.tech-stack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: inherit;
  gap: 1rem;
  justify-content: space-around;
}
.tech-stack > img {
  width: 124px;
  height: 124px;
}

@media only screen and (min-width: 325px) and (max-width: 475px) {
  .skills-page {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 0;
    margin: 0;
    width: 90vw;
    height: 60vh;
  }
  .tech-stack > img {
    width: 36px;
    height: 36px;
  }
  .skills-heading {
    font-size: 24px;
  }

  .skills-left-side {
    width: 100%;
    position: relative;
  }

  .tech-stack {
    width: 100%;
  }
  .skills-right-side {
    height: 35vh;
    top: 0;
  }
}
